<!DOCTYPE html>
<html lang="en">
<head>
    <title>dms - 500 Server Error</title>
    <style>
        body {
            display: flex;
            height: 100vh;
            margin: 0;
            background: #edf1f4;
            align-items: center;
            justify-content: center;
        }

        div {
            color: #36688d;
            font-size: 5rem;
        }
    </style>
</head>
<body>
    <div>500 Server Error</div>
</body>
</html>
