{% extends "base.jinja" %}
            {% block main %}
            <main class="is-paddingless">
            {% if results %}
                {% set size = 3 %}
                {% for sub in range(0, results|length, size) %}
                <div class="columns">
                    {% for item in results[sub:sub + size] %}
                    <div class="column ">
                        <a href="{{ item.path }}">
                            <div class="box">
                                <div class="columns">
                                    <div class="column is-center">
                                        <span class="icon">
                                            <i class="fa fa-{{ item.icon }} fa-3x has-paddingx"></i>
                                        </span>
                                    </div>
                                    <div class="column">
                                        <h6 class="title is-6 has-text-centered has-padding">{{ item.name|capitalize }}</h6>
                                        <h2 class="title is-2 has-text-centered has-padding">{{ item.count }}</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            {% else %}
                <div class="section is-medium has-text-centered">No content</div>
            {% endif %}
            </main>
            {% endblock %}
